
@{
    ViewData["Title"] = "SuccessfulCheckout";
}

<div class="alert alert-info">
    <p>Order(Payment) completed successfully</p>
    <p>Order(Payment) no @ViewBag.orderId</p>
</div>
<a cite="btn btn-primary" asp-action="Index" asp-controller="Home">Home page</a>