@model SignUpInput
@{
    ViewData["Title"] = "SignUp";
}
<section class="auth" id="auth">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="auth__card">
                <div class="card-body">
                    <h5 class="auth__header">Sign up</h5>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <form asp-controller="Auth" asp-action="SignUp" method="post">
                        <div class="row mb-3">
                            <div class="col-6">
                                <label asp-for="FirstName" for="exampleInputEmail1" class="form-label"></label>
                                <input type="text" asp-for="FirstName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <span class="text-danger" asp-validation-for="FirstName"></span>
                            </div>
                            <div class="col-6">
                                <label asp-for="LastName" for="exampleInputEmail1" class="form-label"></label>
                                <input type="text" asp-for="LastName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                <span class="text-danger" asp-validation-for="LastName"></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Email" for="exampleInputEmail1" class="form-label"></label>
                            <input type="email" value="abidzade.qudret@gmail.com" asp-for="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" for="exampleInputPassword1" class="form-label"></label>
                            <input asp-for="Password" value="Password12*" type="password" class="form-control" id="exampleInputPassword1">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="mb-3 form-check">
                            <input asp-for="IsRemember" type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label asp-for="IsRemember" class="form-check-label" for="exampleCheck1"></label>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                    <div class="sign__in__box"><p>Already have an accaunt?</p> <a asp-controller="Auth" asp-action="SignIn">Sign in</a></div>
                </div>
            </div>
        </div>
    </div>
</section>


